* {
	box-sizing: border-box;
}


body {
	margin: 0 auto;
  padding: 0;
  min-width: 900px;
  font-family: 'Roboto','Arial', sans-serif;
	font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	outline: 1px solid red;
}

a {
	color: #000000;
	text-decoration: none;
}

/*Хэдер*/

.main-header {
	padding-top: 20px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background: #eeeeee;
}

.logo {
  float: left;
  margin-right: 180px;
  padding-top: 10px;
}

.main-navigation {
  list-style: none;
}

.main-navigation li {
	float: left;
	display: inline-block;
	margin-right: 40px;
	padding-top: 15px;
}

.main-navigation li:last-child {
	margin-right: 0;
}

.cart {
	float: right;
	padding-top: 15px;
}

/*Слайдер*/

.slider-container {
	position:relative;
  height:327px;
  margin:0 auto;
  margin-bottom: 50px;
  background: #eeeeee;
}

.slider h2 {
  font-size:36px;
  line-height:36px;
  font-weight:normal;
}

.slide {
	display: none;
  width:100%;
  height:100%;
}

.slide-column-left {
  float:left;
  width:480px;
}

.slide-column-right {
  float:right;
  width:380px;
}

.slider-container input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls {
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:10px;
    height:10px;
    margin-right: 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}

#btn-1:checked ~ .slider .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slider .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slider .slide:nth-child(3) { 
    display: block;
}

.slide-info .btn {
	display: block;
  width:240px;
  padding:10px 70px;
  border-radius:3px;
  font-size:12px;
  text-transform:uppercase;
  color:white;
  background:#fb565a;
}

/*Блок фичерс*/

.features {
  padding-top: 15px;
  border-bottom: 2px solid #eeeeee;
}

.feature-item {
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 77px;
  padding: 0;
}
.feature-item:last-child {
  margin-right: 0;
}

.feature-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-item p {
  font-size: 15px;
  line-height: 22px;
  display: block;
}

.feature-item .btn {
  display: block;
  width: 140px;
  margin-top: 25px;
  padding: 8px 0;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF; 
  border-radius: 3px;
  background: #fb565a;
}

.feature-item .btn-green {
  background: #00ca74;
}

.feature-item .btn-yellow {
  background: #efc84a;
}

/*Блок информации*/

.info {
  font-size: 16px;
  padding: 32px 0;
  border-bottom: 2px solid #eee;
}

.info-row h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 20px;
}

.info-row h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.info-column-left {
  float: left;
  width: 610px;
}

.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list li {
  position: relative;
  margin-bottom: 23px;
  padding-left: 35px;
}

.info-column-left .info-list li:after,
.info-column-right .info-list li:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 1px;
  background: #fb565a;
}

.info-column-right {
  float: right;
  position: relative;
  width: 240px;
}

.info-column-right a {
  display: block;
  margin-bottom: 25px;
  margin-left: 30px;
  padding-top: 25px;
}

.since-style {
  border-bottom: 2px solid #eeeeee;
}

.since-style span {
  position: absolute;
  top: 120px;
  left: 65px;
  padding-right: 13px;
  padding-left: 13px;
  text-align: center;
  text-transform: uppercase;
  background: #FFFFFF;
}

/*Блок партнеров*/

.partners {
  display: inline-block;
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 84px;
  padding: 55px 12px 32px 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #eee;
}
.partners a {
  display: inline-block;
  margin-right: 120px;
  vertical-align: middle;
  opacity: .25;
}

.partners a:last-child {
  margin-right: 0;
}

/*Блок карты*/

.map {
  position: relative;
  width: auto;
  height: 420px;
  margin: 0 auto;
  padding: 0;
  background: #FFFFFF url('../img/map.jpg') no-repeat;
  background-size: cover;
}

.map-description {
  width: 250px;
  position: absolute;
  top: 90px;
  left: 170px;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 20px;
  background: #FFFFFF;
}

.map-description .btn-pop-up {
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin-top: 25px;
  padding: 12px 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 3px;
  background: #fb565a;
}

/*Футер*/

.main-footer {
  padding: 70px 0;
}

.footer-column-left {
  float: left;
  width: 280px;
  margin-right: 50px;
  padding-top: 25px;
}

.btn-social {
  font-size: 24px;
  line-height: 55px;
  display: inline-block;
  width: 61px;
  height: 61px;
  margin-right: 28px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: #e1e1e1;
}

.footer-column-right {
  float: right;
  width: 550px;
  margin: 0;
  padding: 0;
}

.footer-column-right h2 {
  font-size: 36px;
  line-height: 36px;
}

.footer-column-right p {
  font-size: 16px;
  line-height: 22px;
}

/*Страница каталога*/

.welcome {
  display: inline-block;
  vertical-align: middle;
  width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
}

/*Контент каталога*/

.catalogue-content {
  margin-top: 80px;
}


/*Левая колонка*/

.catalogue-column-left {
  float: left;
  font-size: 16px;
  line-height: 20px;
  padding-right: 40px;
}

.filters {
  width: 240px;
}

.filter-unit {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.filter-unit label {
  display: block;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.scale {
  position: absolute;
  width: 200px;
  height: 2px;
  top: 40px;
  left: 30px;
  background: #d7dcde;
}

.bar {
  width: 130px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 15px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: initial;
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  left: 140px;
}

.price-controls {
  text-transform: uppercase;
}

.min-price,
.max-price {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price,
.max-price {
  width: 80px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 8px 15px;
}

.max-price {
  margin-right: 0;
}

.btn {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-btn {
  width: 155px;
  height: 40px;
  cursor: pointer;
}

/*Правая колонка*/

.catalogue-column-right {
  float: right;
  width: 560px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.sort {
  width: 520px;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
}

.sort-title {
  float: left;
  margin-right: 35px; 
}

.sort-type, 
.sort-arrows {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-type {
  float: left;
}

.sort-type li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.sort-type li:last-child {
  margin-right: 0;
}

.sort-type a {
  position: relative;
  text-transform: uppercase;
  color: #cacaca;
  border-bottom: 1px dotted #00ca74;
}

.sort-arrows {
  float: right;
}

.sort-arrows li {
  display: inline-block;
  vertical-align: middle;
}

.item {
  float: left;
  width: 240px;
  position: relative;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-left: 0;
  border-radius: 3px;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.buy-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 9px;
  padding: 10px 30px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #fb565a;
}

.item-description {
  display: none;
}

.item:hover .item-description {
  position: absolute;
  display: block;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  background: #FFFFFF;
}

.item h3 {
  text-transform: uppercase;
}

.items-controls {
  float: left;
  margin-bottom: 80px;
}

.items-controls-list {
  width: 285px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  list-style: none;
}

.items-controls-list li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 3px;
  background: #f1f1f1;
  padding: 10px 15px;
}

.item-controls-list li:last-child {
  margin-right: 0;
}

.items-controls-list li.active {
  padding: 8px 13px;
  background: #FFFFFF;
  border: 2px solid #f1f1f1; 
  cursor: default;
}